build/
sdkconfig
sdkconfig.old
managed_components/
dependencies.lock


.env

# File chứa pass WiFi và Certs cho ESP32
**/secrets.h
# Bảo mật thông tin AWS
components/aws_iot_core/secrets.h


*.pem
*.crt
*.key
*.csr
*.private
*.public





.vscode/
.idea/


__pycache__/
*.pyc


.venv/
venv/
env/


build/
dist/
*.egg-info/


.DS_Store
Thumbs.db