# --- ESP-IDF Build & Temporary Files ---
build/
sdkconfig
sdkconfig.old
sdkconfig.defaults
dependencies.lock
managed_components/

# --- AWS Security (CRITICAL) ---
# Loại bỏ file chứa chứng chỉ thật để tránh rò rỉ lên GitHub
**/aws_iot_core/include/secret.h

# --- IDE Settings (VS Code / JetBrains) ---
.vscode/
.idea/
*.code-workspace
.DS_Store

# --- Backend / FastAPI Files ---
__pycache__/
*.py[cod]
*$py.class
.env
venv/
env/

# --- Log Files ---
*.log