.pio
.vscode/.browse.c_cpp.db*
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/ipch


.env

# File chứa pass WiFi và Certs cho ESP32
**/secrets.h
include/secrets.h
src/secrets.h


*.pem
*.crt
*.key
*.csr
*.private
*.public


.pio/
.pioenvs/


.vscode/
.idea/


__pycache__/
*.pyc


.venv/
venv/
env/


build/
dist/
*.egg-info/


.DS_Store
Thumbs.db